{% extends 'base.html' %}
{% load static %}
{% block title %}Recipe Book{% endblock %}
{% block content %}



<h3>{{object.name}}</h3>
{% if request.user.is_authenticated %}
<p>Written by: {{object.author}}</p>
{% endif %}

<a href="/recipe/{{ object.pk }}/add">Add Image</a>

{% for image in object.images.all %}
<img src="{{ image.image.url }}" alt="{{ image.description }}">
{% endfor %}


<ul>
    {% for ingredient in object.ingredients.all %}
    <li>{{ingredient.quantity}} of {{ingredient.ingredient.name}}</li>
    {% endfor %}
</ul>

{% endblock %}